fastapi==0.109.2
uvicorn==0.27.0
streamlit==1.32.2
pandas==2.1.4
plotly==6.7.0
requests==2.31.0
python-multipart==0.0.6
pydantic==2.6.3
python-dotenv==1.0.0
aiofiles==23.2.1
kaleido==1.2.0
PyPDF2==4.0.1
langchain
langchain-groq
langchain-community
langchain-text-splitters
langserve
langsmith
faiss-cpu
sentence-transformers


