fastapi==0.109.2
uvicorn==0.27.0
streamlit==1.32.2
pandas==2.1.4
plotly==6.7.0
requests==2.31.0
python-multipart==0.0.6
pydantic==2.6.3
python-dotenv==1.0.0
aiofiles==23.2.1
kaleido==1.2.0
PyPDF2==4.0.1
redis==5.0.1
langchain
langchain-groq
langchain-community
langchain-text-splitters
langserve
langsmith==0.1.86
faiss-cpu
sentence-transformers
# Observability and Telemetry
azure-monitor-opentelemetry-distro==1.2.1
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp==0.48b0


